<h2>Zones</h2>
<p>View zones or <a href="edit.html">add</a> a zone.</p>
<% if (locals.flash) { %>
    <p><%= flash %></p>
<% } %>
<ul>
    <li class="header">
        <span class="field">Zoneid</span>
        <span class="field">Title_en</span>
        <span class="field">Title_fa</span>
        <span class="field">Location_en</span>
        <span class="field">Location_fa</span>
        <span class="field">Actions</span>
    </li>
    <% for(var i=0; i<zones.length; i++) {%>
            <li class="row">
                <span class="field"><%= zones[i]['zoneId'] %></span>
                <span class="field"><%= zones[i]['title_en'] %></span>
                <span class="field"><%= zones[i]['title_fa'] %></span>
                <span class="field"><%= zones[i]['location_en'] %></span>
                <span class="field"><%= zones[i]['location_fa'] %></span>
                <span class="field">
                    <a href="<%= zones[i]._id %>" >zones</a>
                </span>
            </li>
    <% } %>
</ul>
