<h2>Trips</h2>
<p>View trips or <a href="edit.html">add</a> a trip.</p>
<% if (locals.flash) { %>
    <p><%= flash %></p>
<% } %>
<ul>
    <li class="header">
        <span class="field">Userfbid</span>
        <span class="field">Username</span>
        <span class="field">Useremail</span>
        <span class="field">Userphone</span>
        <span class="field">Deliverytype</span>
        <span class="field">Source</span>
        <span class="field">Dest</span>
        <span class="field">Traveldate</span>
        <span class="field">Comment</span>
        <span class="field">Actions</span>
    </li>
    <% for(var i=0; i<trips.length; i++) {%>
            <li class="row">
                <span class="field"><%= trips[i]['userFbId'] %></span>
                <span class="field"><%= trips[i]['userName'] %></span>
                <span class="field"><%= trips[i]['userEmail'] %></span>
                <span class="field"><%= trips[i]['userPhone'] %></span>
                <span class="field"><%= trips[i]['deliveryType'] %></span>
                <span class="field"><%= trips[i]['source'] %></span>
                <span class="field"><%= trips[i]['dest'] %></span>
                <span class="field"><%= trips[i]['travelDate'] %></span>
                <span class="field"><%= trips[i]['comment'] %></span>
                <span class="field">
                    <a href="<%= trips[i]._id %>" >trips</a>
                </span>
            </li>
    <% } %>
</ul>
