<h2>User form</h2>
<p>
    <% if (user) { %>
        New user
    <% } else { %>
        Edit user
    <% } %>
</p>
<% if (flash) { %>
    <p>{flash}</p>
<% } %>
<div class="content">
    <div>
        <form name="user" method="<% if (user) { %>put<% } else { %>post<% } %>"
            action="/users <% if (user) { %>/<%= user._id %><% } %>">
            <div class="row">
                <label>Email</label>
                <input type="text" name="email" value="<%= user.email %>">
            </div>
            <div class="row">
                <label>FirstName</label>
                <input type="text" name="firstName" value="<%= user.firstName %>">
            </div>
            <div class="row">
                <label>LastName</label>
                <input type="text" name="lastName" value="<%= user.lastName %>">
            </div>
            <div class="row">
                <label>Phone</label>
                <input type="text" name="phone" value="<%= user.phone %>">
            </div>
            <div class="row">
                <label>UserFbId</label>
                <input type="text" name="userFbId" value="<%= user.userFbId %>">
            </div>
            <div class="row">
                <label>Dob</label>
                <input type="text" name="dob" value="<%= user.dob %>">
            </div>
            <div class="row controls">
                <input type="submit" value="Save">
            </div>
        </form>
        <% if (user) {%>
            <form method="delete" action="/userss<%= user._id %>">
                <input type="submit" value="Delete"/>
            </form>
        <% } %>
    </div>
</div>
