<h2>Users</h2>
<p>View users or <a href="edit.html">add</a> a user.</p>
<% if (locals.flash) { %>
    <p><%= flash %></p>
<% } %>
<ul>
    <li class="header">
        <span class="field">Email</span>
        <span class="field">Firstname</span>
        <span class="field">Lastname</span>
        <span class="field">Phone</span>
        <span class="field">Userfbid</span>
        <span class="field">Dob</span>
        <span class="field">Actions</span>
    </li>
    <% for(var i=0; i<users.length; i++) {%>
            <li class="row">
                <span class="field"><%= users[i]['email'] %></span>
                <span class="field"><%= users[i]['firstName'] %></span>
                <span class="field"><%= users[i]['lastName'] %></span>
                <span class="field"><%= users[i]['phone'] %></span>
                <span class="field"><%= users[i]['userFbId'] %></span>
                <span class="field"><%= users[i]['dob'] %></span>
                <span class="field">
                    <a href="<%= users[i]._id %>" >users</a>
                </span>
            </li>
    <% } %>
</ul>
